{% extends 'administrador/base_administrador.html' %}

{% load static %}

{% block title %} Productos {% endblock %}

{% block content %}


<div id="page-content-wrapper">

    <!-- * Boton-->

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-0">Pedidos</h2>
        </div>
    </nav>

    <!-- * CONTENIDO PAGINA*-->

    <div class="container-fluid px-4 ">


        <div class="p-2" style=" background-color: white;">


            <!--todo BOTONES (ENCABEZADO)-->
            <div class="m-3">
                <a href="{% url 'home:export_pedidos_csv' %}" class="btn btn-primary">Descargar CSV</a>


            </div>

            <!--todo TABLA (CUERPO)-->

            <div class="col table-responsive p-3 rounded">

                <table class="table table-striped text-center shadow">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th class="col">Usuario</th>
                            <th class="col">Fecha de pedido</th>
                            <th class="col">Direccion</th>
                            <th class="col">Productos</th>
                            <th class="col">Total</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% if pedidos %}
                        {% for i in pedidos %}
                        <tr>
                            <td class="col">{{i.id}}</td>
                            <td class="col">$ {{i.user}}</td>
                            <td class="col">{{i.fecha}}</td>
                            <td class="col">
                                <strong>Region: </strong> {{i.direccion.region}} <br>
                                <strong>Comuna:</strong>  {{i.direccion.comuna}} <br>
                                <strong>Calle:</strong> {{i.direccion.calle}}
                            </td>
                            <td class="col">
                                
                                {% for p in i.productos %}
                                    <ul>
                                        <li>
                                            {{p}}
                                        </li>
                                    </ul>
                                {% endfor %}
                                    

                            </td>
                            <td class="col">{{i.total}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <td colspan="8">Ningun producto creado</td>
                        {% endif %}
                    </tbody>

                </table>
            </div>

            <div>
            </div>
        </div>


    </div>

</div>



{% endblock %}