<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h2>Nuevo mensaje de contacto</h2>
    <p>Estas siendo contactado por el cliente <strong>{{name}} </strong>.</p>
    <p>Su correo de contacto es: <strong>{{email}}</strong></p>
    <p>El mensaje del clienten es: </p>
    <p> <strong>{{ message }}</strong></p>
</body>
</html>
